ul.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  max-width: 1128px;
  margin: 100px auto;
}
.galery-item-img {
  width: 360px;
  height: 300px;
}
